  <div class="container"> 
    <div class="row">
      <%= form_for :session, url: session_path do |form| %>

        <div class="row">
          <div class="input-field col s6">
            <%= form.label :email %>
            <%= form.text_field :email, type: 'email' %>
          </div>
        </div>

          <div class="row">
            <div class="input-field col s6">
              <%= form.label :password %>
              <%= form.password_field :password %>
            </div>
          </div>

          <div class="row">
            <div class="input-field col s6">
              <%= form.submit "sign-in", class: "btn"%>
            </div>
          </div>
          
          <div class="row">
            <div class="input-field col s6">
              <p><%= link_to t(".forgot_password"), new_password_path %></p>
              <p><b>Don't have an account?</b> Click <%= link_to t("here"), sign_up_path %></p>
            </div>            
          </div>

        </div>
      <% end %>
    </div>
  </div>