
<form action="#" method="get" class="col s10 offset-s1 hide-form" id="add-member-form" data-id="<%=@project.id%>">
  <input type="hidden" value="<%= form_authenticity_token() %>" name="authenticity_token"/>
  <div class="row">
    <div class="input-field col s12">
      <input  name="name" id="first_name" type="text" class="validate">
      <label for="first_name">Name</label>
    </div>
  <div class="row">
    <div class="input-field col s12">
      <input name="email" id="email" type="email" class="validate">
      <label for="email">Email</label>
    </div>
  </div>
  <div class="row">
    <div class="col s6">
    <p>Availability</p>
    <%= radio_button_tag(:availability, "true") %>
    <%= label_tag(:availability_true, "Available") %>
    <%= radio_button_tag(:availability, "false") %>
    <%= label_tag(:availability_false, "Not Available") %>
    </div>
  </div>

  <div class="row">
    <div class="col s4">
    <p>Working Hours Preferencies</p>
    <%= label_tag :dayshift
      text_field_tag :dayshift
      select_tag :dayshift, options_for_select([['Day', 'day'], ['Night', 'night']]), class: 'browser-default' %>
    </div>
  </div>
  
  <div class="row">
    <div class="col s12">
      <%= file_field_tag(:avatar) %>
    </div>
  </div>
  <div class="row">
    <div class="col s12 center-align">
      <%= link_to '#', class: "btn-floating", id: "add-member-button" do %> 
        <i class="fa fa-plus small"></i>
      <% end %>
    </div>      
  </div>
</form>

  

