<div id="modal1" class="modal">
  <div class="modal-content blue lighten-5 grey-text text-darken-1">
    <%= form_for @project do |f| %>
      <div class="row">
        <div class="col s8 offset-s2" style="padding-top: 35px;">
          <div class="input-field">        
            <%= f.text_field :name %>
            <%= f.label :name,"Name"  %>
          </div>
          <div class="input-field">
            <%= f.text_area :description, class: "materialize-textarea" %>
            <%= f.label :description,"Description"  %>              
          </div>
           <div class="input-field center-align">
            <%= f.submit "Save", class: "btn"%>
          </div>
        </div>        
      </div>         
    <% end %>
  </div>
</div>