<div class="project-list"><h2 id="project-list-banner">Project List</h2></div>
<%= image_tag("postit-people.jpg", class: "project-image") %>

<%= render layout: "shared/page_title", locals: {title: "Project List"} do %>
  <%= link_to new_project_path do %>
    <i class="fa fa-plus-circle small icon-center"></i>
  <% end %>
<% end %>


<div class="section"></div>
<div class="container">
  <div class="row">
    <ul class="collection">
      <% @projects.each do |project|%>
        <li class="collection-item">
          <div>
            <%= project.name %>             
            <%= link_to project_path(project.id), method: :delete, class: "secondary-content" do%>
                <i class="fa fa-times"></i>
            <% end %>   
            <%= link_to project_path(project.id), class: "secondary-content" do%>
                <i class="fa fa-info-circle"></i>
            <% end %>   
          </div>          
        </li>       
      <% end %>  
    </ul>
  </div>
</div>
