<div class="project-list">
  <h2 id="project-list-banner">
    Project List
    <%= link_to new_project_path do %>
    <i class="fa fa-plus-circle small icon-center" id="add-button"></i>
    <% end %>
    <%= link_to "#" do %>
      <i class="fa fa-search small icon-center" id="search-button"></i>
    <% end %>
    </h2>
</div>
<%= image_tag("postit-people.jpg", class: "project-image") %>



<div class="section"></div>
<div class="container">
  <div class="row hide-form" id="search-input">
    <div class="col s6 offset-s3">
      <div class="input-field"> 
        <%= text_field_tag :search %>
        <%= label_tag :search,'Enter your search query here'  %>  
      </div>
    </div>    
  </div>
  <div class="row">
    <ul class="collection" id="projectsList">
      <% @projects.each do |project|%>
        <li class="collection-item">
          <div>
            <%= project.name %>             
            <%= link_to project_path(project.id), method: :delete, class: "secondary-content" do%>
                <i class="fa fa-times"></i>
            <% end %>   
            <%= link_to project_path(project.id), class: "secondary-content" do%>
                <i class="fa fa-info-circle"></i>
            <% end %>   
          </div>          
        </li>       
      <% end %>  
    </ul>
  </div>
</div>
