<div class="section teal lighten-4">
 <h1 class="center-align">New Project</h1>
</div>
<div class="section"></div>
<div class="container">
 <div class="row">
    <%= form_for @project, class: "col s12" do |f| %>
      <div class="row">
        <div class="input-field col s6">          
          <%= f.text_field :name %>
          <%= f.label :name,"Name"  %>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          
          <%= f.text_area :description, class: "materialize-textarea" %>
          <%= f.label :description,"Description"  %>
        </div>
      </div>
      <div class="row">
        <% @skills.each do |skill| %>     
          <div class="col s3">
            <%= check_box_tag "skill_ids[]", skill.id, false, :id => "skill_id_#{skill.id}"%> 
            <%= label_tag "skill_id_#{skill.id}", skill.name %>      
          </div>      
        <% end %> 
      </div>
      <div class="row center-align">
        <%= f.submit "Search", class: "btn"%> 
      </div> 
   <% end %>
  </div>
</div> 
