<%= render layout: "shared/page_title", locals: {title: @project.name} do %>
  <%= link_to "#modal1", class: "modal-trigger" do %>
    <i class="fa fa-pencil-square-o small icon-center"></i>
  <% end %>
<% end %>

<%= render  "projects/modal" %>

<div class="row">
  <div class="col s12 m6 offset-m3">
      <p class="flow-text center-align"><%= @project.description %></p>
  </div>
</div>
<div class="row boxes">
  <div class="col s4 offset-s2  box-left" id="skills-div">
    <ul class="collection with-header zero-margin" id="projectskillsList">
     <li class="collection-header">
        <div class="anchor">
          <h4>Skills
          <%= link_to "#", id: 'add-skill' do %>
            <i class="fa fa-plus-circle small icon-center right"></i>
          <% end %></h4>
        </div>
      </li>
      <% @skills.each do |skill|%>
        <li class="collection-item">
          <div>
            <%= skill.name %>             
            <%= link_to project_skill_path(project_id: @project.id,id: skill.id), method: :delete, class: "secondary-content" do%>
                <i class="fa fa-times"></i>
            <% end %>   
          </div>          
        </li>       
      <% end %>  
    </ul> 
  </div>
  <%= render  "projects/mid_section" %>
  <div class="col s4 box-right" id="members-div">
   <ul class="collection with-header zero-margin" id="projectMembersList">
     <li class="collection-header">
        <h4>Members
          <%= link_to "#", id: "add-member" do %>
            <img class="fa fa-plus-circle small icon-center right"></i>
          <% end %>
        </h4>
      </li>
      <% @members.each do |member|%>
        <li class="collection-item avatar">
          <div class="row">
            <div class="col s10">
              <img src=<%= member.avatar.url %> alt="" class="circle">
              <span class="title"><%= member.name %></span>
              <p><%= member.email %><br>
                 <%= member.availability ? "Available" : "Unavailable" %>
              </p>  
            </div>
            <div class="col s2">
              <%= link_to project_member_path(project_id: @project.id,id: member.id), method: :delete, class: "secondary-content right" do%>
                <i class="fa fa-times"></i>
              <% end %> 
            </div>      
          </div>                   
        </li>   
      <% end %>  
    </ul> 
  </div>
  
</div>
