<div class="section teal lighten-4">
  <h1 class="center-align"><%= @project.name %></h1>
</div>
<div class="row">
  <div class="col s12 m6 offset-m3">
      <p class="flow-text"><%= @project.description %></p>
  </div>
</div>
<div class="row">
  <div class="col s6">
     <ul class="collection">
      <% @skills.each do |skill|%>
        <li class="collection-item">
          <div>
            <%= skill.name %>             
            <%= link_to project_path(project.id), method: :delete, class: "secondary-content" do%>
                <i class="fa fa-times"></i>
            <% end %>   
            <%= link_to project_path(project.id), class: "secondary-content" do%>
                <i class="fa fa-info-circle"></i>
            <% end %>   
          </div>          
        </li>       
      <% end %>  
    </ul> 
  </div>
    <div class="col s6">
     <ul class="collection">
      <% @members.each do |member|%>
        <li class="collection-item">
          <div>
            <%= member.name %>             
            <%= link_to project_path(project.id), method: :delete, class: "secondary-content" do%>
                <i class="fa fa-times"></i>
            <% end %>   
            <%= link_to project_path(project.id), class: "secondary-content" do%>
                <i class="fa fa-info-circle"></i>
            <% end %>   
          </div>          
        </li>       
      <% end %>  
    </ul> 
  </div>
</div>