<h1>All Members</h1>

<h1>CAT</h1>
<a href="/member/list">All members</a>


<div class= "search-form">
  <form action="/member/search" method="get">
   <input type="text" name="name" placeholder="insert here the name your looking for">
   <button type="submit">Search</button>
  </form>
</div>


<div class="form-group has-error">
  <label class="control-label" for="inputError1"><%= flash[:error] %></label>
</div>

<% @members.each do |member| %>

	<table class="table table-hover">
   <tbody>
   <li class="list-group-item">
		<ul>
			<li><label>Name:</label><%=member.name%></li>
      <li><label>Email:</label><%=member.email%></li>
      <li><label>Available:</label><%=member.status%></li>

			<a href="/member/<%=member.id%>/remove"><span class="badge">Remove</span></a>
		</ul>
	</li>
  </tbody>
  </table>
<%end%>