<!DOCTYPE html>
<html>
<head>

  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>

</head>
 
<body>

  


  <nav>
    <div class="nav-wrapper">
      <a href="/" ><img class ="brand-logo-left" height ="60" width="60" src="https://upload.wikimedia.org/wikipedia/commons/thumb/2/2b/Black_Cat_Vector.svg/2000px-Black_Cat_Vector.svg.png"/></a>

      <ul id="nav-mobile" class="right">

        <li id="header">
          <!-- Shows a link to about if not signed in -->
          <% if signed_out? -%>
            <%= link_to t("about"), about_path %>
          <% end -%>
        </li>

        <li id="header">
          <%= link_to t("home"), home_path %>
        </li>
        
        <li id="header">
          <!-- Changes button sign_in to sign_out and vice-versa-->
          <% if signed_in? -%>
            <%= link_to t(".sign_out"), sign_out_path, method: :delete %>
          <% else -%>
            <%= link_to t(".sign_in"), sign_in_path, id:"sign-in-button" %>
          <% end -%>
        </li>

      </ul>
    </div>
  </nav>

  <div id="flash">
    <% flash.each do |key, value| -%>
      <div id="flash_<%= key %>"><%=h value %></div>
    <% end %>
  </div>

  <div class="yield">
    <%= yield %>
  </div>
        
</body>
</html>
