<!DOCTYPE html>
<html>
<head>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>

</head>
 
<body>
  <nav>
    <div class="nav-wrapper">
      <a href="/" ><img class ="brand-logo-left" height ="60" width="60" src="https://upload.wikimedia.org/wikipedia/commons/thumb/2/2b/Black_Cat_Vector.svg/2000px-Black_Cat_Vector.svg.png"/></a>

      <ul class="right">
          <!-- Shows user email and home if signed in-->
        <% if signed_in? -%>
          <li id="header">
            <%= link_to ("#{current_user.email}"), home_path %>
          </li>
        <% else %>
          <li id="header">
            <%= link_to ("About"), root_path %>
          </li>
          <li id="header">
            <%= link_to ("Sign up"), sign_up_path %>
          </li>
        <% end -%>

        <li id="header">
            <!-- Changes button sign_in to sign_out and vice-versa-->
          <% if signed_in? -%>
            <%= link_to t(".sign_out"), sign_out_path, method: :delete %>
          <% else -%>
          <a href="#" id="sign-in-button">Sign in</a>
            <div class ="sign-form">
              <%= render partial: '/sessions/form' %>
            </div>
          <% end -%>
        </li>

      </ul>
    </div>
  </nav>

  <div class="body-movement">
    <%= yield %>
  </div>
        
</body>
</html>
