<!DOCTYPE html>
<html>
<head>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>

  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.4.0/animate.min.css"> 
  
</head>
 
<body>
  <nav>
    <div class="nav-wrapper color">
      <img class ="brand-logo-left" height ="60" width="60" src="https://upload.wikimedia.org/wikipedia/commons/thumb/2/2b/Black_Cat_Vector.svg/2000px-Black_Cat_Vector.svg.png"/>

      <ul class="right">
        <% if signed_in? -%>
          <li id="header">            
            <%= current_user.email %>
          </li>
          <li id="header">
            <%= link_to ("Home"), home_path, class: "nav-text"  %>
          </li>
          <li id="header">
            <%= link_to ("About"), root_path, class: "nav-text" %>
          </li>
          <li id="header">          
            <%= link_to t(".sign_out"), sign_out_path, method: :delete, class: "nav-text" %>
          </li>
          <% else -%>
          <a href="#" id="sign-in-button">Sign in</a>
            <div class ="sign-form">
              <%= render partial: '/sessions/form' %>
            </div>
          <% end -%>
        </li>
      </ul>

    </div>
  </nav>

    <%= yield %>
  
  </body>
</html>
