<div class="index-container"> 

  <div class="container add-member">
    <div class="row">
        <%= link_to "Create New Member", new_member_path, class:"btn create-member" %></span>
    </div>
  </div> 

  <div class="container search-member">
    <div class="row">
          <%= form_tag(search_members_path, method: "get", id: "search-form") do %>
        <div id="search-member" class="input-field col s6 ">
          <%= label_tag(:name, "Search member: ", class:"fa fa-search" )%>    
          <%= text_field_tag(:name) %>
          <%= submit_tag("Search", class: "btn") %>   
        </div>
    </div>
  </div> 
          <% end %>
</div>

<div id="search-error"></div>

<div id="membercard-container" class="container">
  <div class= "row">
    <div id="membersList">
      <% @members.each_with_index do |member, index| %>
        <% if index.odd? %>
          <div id="members-card" class="col s5 offset-s2 card">
        <% else %>
          <div id="members-card" class="col s5 card">
        <% end %>

          <div class="member-attributes">
            <p class="name">Name: <%= member.name %></p>
            <p class="email">E-mail: <%=member.email%></p>
            <div class="member-<%= member.availability_representation.downcase %>">
              <%= member.availability_representation %>
              <div class="availability-circle"></div>
            </div>
            <p class="working_hours">Working Hours: <%= member.working_hours %></p>
            <div id="skillsList">
              <p>
                Skills:
                <% member.skills.each do |skill| %>
                  <%= skill.name %>
                <% end %>
              </p>
                  <%= link_to edit_member_path(member) do %>
                    <i class="fa fa-pencil-square-o"></i>
                <%end%>
                  <%= link_to member_path(member), method: :delete do %>
                    <i class="fa fa-times"></i>
                  <%end%>
                
            
            </div>
          </div>
          <%= image_tag(member.avatar.url, class: "profile-picture") %>
        </div>
      <% end %>
    </div>
  </div>
</div>