
<div class="nav-wrapper">
  <%= form_tag(search_members_path, method: "get") do %>
    <%= label_tag(:name, "Search for:") %>
    <%= text_field_tag(:name) %>
    <%= submit_tag("Search") %>
  <% end %>
</div>


<div>
  <%= flash[:error] %>
</div>

<ul>
  <% @members.each do |member| %>
    <li class="card small">
      <div class="member-attribute">
        <p>Name:</p>
        <p><%=member.name%></p>
      </div>

      <div class="member-attribute">
        <p>Email:</p>
        <p><%=member.email%></p>
      </div>

      <div class="member-attribute">
        <p>Available:</p>
        <p><%=member.availability%></p>
      </div>

      <div class="member-attribute">
        <p>Working hours:</p>
        <p><%=member.dayshift%></p>
      </div>

      <div class="member-attribute">
        <p>Skills:</p>
        <ul>
          <% member.skills.each do |skill| %>
            <li><%=skill.name%></li>
          <% end %>
        </ul>
      </div>
    </li>
  <% end %>
</ul>









      